apiVersion: apps/v1
kind: Deployment
metadata:
  name: pokedexcli-deployment
spec:
  replicas: 1
  selector:
  template:
    spec:
      containters:
        - name: pokedex-cli
          image: yengso/pokedex-cli:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"